doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Book Xchange
    link(rel="shortcut icon", href="/public/assets/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    link(rel="stylesheet", href="/public/css/profile.css")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")

  body
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#').pad-left xBooks
    button.navbar-toggler.margin-right(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.justify-content-end.pad-right
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/logout') Logout
 
.container.emp-profile
  form(method='post')
    .row
      .col-md-4
        .profile-img
          img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog' alt='')
          .file.btn.btn-lg.btn-primary
            | Change Photo
            input(type='file' name='file')
      .col-md-6
        .profile-head
          h5= user.Username
          h6
            | Web Developer and Designer
          p.proile-rating
            | RANKINGS : 
            span 8/10
          ul#myTab.nav.nav-tabs(role='tablist')
            li.nav-item
              a#home-tab.nav-link.active(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') About
      .col-md-2
        input.profile-edit-btn(type='submit' name='btnAddMore' value='Edit Profile')
    .row
      .col-md-4
        .profile-work
          p Books Made Avaliable
          a(href='') C Programming
          br
          a(href='') Think like a computer scientist
          br
          a(href='') Sustainable Engineering
          br
      .col-md-8
        #myTabContent.tab-content.profile-tab
          #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
            .row
              .col-md-6
                label Username
              .col-md-6
                p= user.Username
            .row
              .col-md-6
                label Name
              .col-md-6
                p= user.FNAME
            .row
              .col-md-6
                label Email
              .col-md-6
                p= user.Email
            .row
              .col-md-6
                label Phone
              .col-md-6
                p= user.Phone
